body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hyther {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture {
    width: 128px;
    height: 128px;
    overflow: hidden;
    margin: 20px auto;
    border: 3px solid pink;
    border-radius: 50%;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.centered-block {
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
    height: 930px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.link-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.4s ease;
    height: 50px;
    width: 400px;
    text-decoration: none;
}
.link-block:hover {
    background-color: rgba(113, 241, 255, 0.3);
}
.link-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.link-name {
    font-weight: bold;
    color: gray;
}
.description {
    font-weight: bold;
    font-size: 24px;
}
